.cont_input {
  position: relative;
  margin-bottom: 30px;
  height: 2rem;
}
.form__input,
.form__input.form__area {
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 2px solid #e2e2e2;
  padding: 1.25rem;
  color: #1f1f1f;
  transition: 0.2s;
  font-size: 18px;
}
.form__input:hover,
.form__input.form__area:hover {
  border-color: #4aa7fd;
}
.form__input:focus {
  border-color: #4aa7fd;
}
.form__label {
  font-size: 18px;
  position: absolute;
  left: 0.88rem;
  top: 0.71rem;
  user-select: none;
  padding: 0 0.5rem;
  pointer-events: none;
  color: gray;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: #fff;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.6rem;
  font-size: 14px;
  left: 5px;
  background: #fff;
  padding: 0 0.5rem;
}

.icon {
  position: absolute;
  top: 75%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 21px;
  color: #000;
  cursor: pointer; /*  user-select: none; visibility: hidden; */
  user-select: none;
}
