.loginContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 400px;
  margin: 0 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  background: #fff;
}
.title {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 0;
  color: #333;
}
.formulario {
  width: 100%;
}

.formulario .btnSubmitForm,
.formulario .btnForm {
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;

  transition: 0.3s ease all;
}
.btnSubmitForm {
  width: 100%;
  padding: 10px;
  background: #0085ff;
  color: #fff;
  font-weight: bold;
}

.formulario .buttonForgotPass {
  color: #0085ff;
}
.forgotPassword {
  margin-top: 10px;
}

.orP {
  text-align: center;
  width: 100%;
  position: relative;
  margin-top: 10px;
}
.orP:before {
  content: "";
  display: block;
  width: 45%;
  height: 2px;
  background: #cecece;
  position: absolute;
  left: 0;
  top: 50%;
}
.orP:after {
  content: "";
  display: block;
  width: 45%;
  height: 2px;
  background: #cecece;
  position: absolute;
  right: 0;
  top: 50%;
}
.orSpan {
  background: #fff;
  color: #646464;
  padding-left: 5px;
  padding-right: 5px;
}
.formulario .buttonGoogle {
  background: #fff;
  padding: 10px;
  color: #dd4b39;
  border: 2px solid #dd4b39;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  font-weight: bold;
}

.formulario .buttonGoogle .iconGoogle {
  margin-right: 8px;
}
.link_register {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link_register span {
  margin-right: 5px;
}

.btnForm.buttonIsRegister {
  background: none;
  color: #0085ff;
}

.backBtn {
  display: flex;
  align-items: center;
}

@media (max-width: 430px) {
  .link_register {
    flex-direction: column;
  }
}
